# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.lyx~
cpp11_qmake_gcov/
cpp11_qmake_boost_gcov_bigger_project/
cpp11_qmake_boost_gcov
qmake_gcov/
cpp11_qmake_boost_gcov/
qmake_gprof/
qmake_gcov_bigger_project/
travis_qmake_gcc_cpp98_gcov/
