# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.lyx~
*.lyx#
.Rhistory
images/CC-BY-SA_icon.pdf
images/LLVM_Logo.pdf
images/Qt_logo_2015.pdf
images/SFML_Logo.pdf
travis_cpp_tutorial.tex
images/SFML Logo.pdf
images/*.eps
